[submodule "lib/tpl/dokuwiki-template-vyfuk"]
	path = lib/tpl/vyfuk
	url = git@github.com:fykosak/dokuwiki-template-vyfuk.git
[submodule "lib/tpl/vyfuk"]
	path = lib/tpl/vyfuk
	url = git@github.com:fykosak/dokuwiki-template-vyfuk.git
[submodule "lib/plugins/captcha"]
	path = lib/plugins/captcha
	url = git@github.com:splitbrain/dokuwiki-plugin-captcha.git
[submodule "dokuwiki-plugin-social"]
	path = lib/plugins/social
	url = git@github.com:fykosak/dokuwiki-plugin-social.git
[submodule "lib/plugins/fkshelper"]
	path = lib/plugins/fkshelper
	url = git@github.com:fykosak/dokuwiki-plugin-fkshelper.git
[submodule "lib/plugins/cookielaw"]
	path = lib/plugins/cookielaw
	url = git@github.com:fykosak/dokuwiki-plugin-cookielaw.git
[submodule "lib/plugins/datatemplate"]
	path = lib/plugins/datatemplate
	url = git@github.com:fykosak/dokuwiki-plugin-datatemplate.git
