# Dokuwiki config
/conf/*

# Dokuwiki files
/data/attic/*
/data/cache/*
/data/index/*
/data/locks/*
/data/media/*
/data/media_attic/*
/data/media_meta/*
/data/meta/*
/data/pages/*
/data/tmp/*

# Commit also specific empty directories with file _dummy
!~/_dummy